@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  font-family: "Libre Baskerville", serif;
}

:root {
  --clr-grey-1: whitesmoke;
  --clr-grey-2: grey;
  --clr-grey-3: rgb(0, 82, 0);
  --clr-primary: crimson;
}

.container {
  max-width: 1000px;
  margin: 5em auto 2em auto;
  padding: 2em;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: var(--clr-grey-1);
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 1.5em;
  padding: 1.5em 2em;
  border-bottom: 1px solid var(--clr-grey-2);
  font-size: 0.9rem;
}

.navbar a {
  text-decoration: none;
  color: var(--clr-grey-3);
}

.navbar ul > li:first-child {
  margin-right: auto;
  font-size: 1.1rem;
  font-style: italic;
}

.hero {
  background: rgb(0, 82, 0);
  padding: 10em;
  overflow: hidden;
}

.introduction {
  text-align: center;
  margin-bottom: 2em;
  padding-block: 5em;
}

.introduction h2 {
  margin-bottom: 1em;
  font-size: 2rem;
}

.introduction button {
  font-size: 1.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background: crimson;
  border: none;
  border-radius: 5px;
}

.footer {
  text-align: center;
  padding: 4em 1em;
  background: var(--clr-grey-1);
  border-top: 1px solid var(--clr-grey-2);
  font-size: 0.8rem;
}

.footer p {
  font-size: 1rem;
  margin-bottom: 2em;
}

@keyframes spin {
  from {
    --rotate: 0deg;
    transform: translateY(var(--translateY)) scale(var(--scale));
  }
  to {
    --rotate: 180deg;
    transform: translateY(var(--translateY)) scale(var(--scale));
  }
}
/* 
.hand {
  display: flex;
  gap: 1em;
} */

.card {
  cursor: pointer;

  transition-property: all;
  transition-timing-function: linear;

  position: absolute;
}

.card .content {
  position: absolute;
  inset: 0;
  transform-style: preserve-3d;
  transition-property: all;
  transition-timing-function: linear;
  border-radius: 5px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card .front,
.card .back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card .front {
  background: lightblue;
}

.card .back {
  background: lightcoral;
  transform: rotateY(180deg);
}

.hand {
  position: relative;
  margin-block: 3em;
  max-width: 5em;
  min-height: 10em;
  display: flex;
  align-items: center;
}

.hand.center {
  margin: auto;
}

.hand.large {
  min-height: 20em;
}
