.navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100000;
  background: var(--clr-grey-1);
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.5em;
  padding: 1.25em 2em;
  border-bottom: 1px solid var(--clr-grey-3);
  font-size: 0.9rem;
}

.navbar a {
  text-decoration: none;
  color: var(--clr-grey-5);
}

.navbar ul > li:first-child {
  margin-right: auto;
  font-size: 1.3rem;
  font-style: italic;
}

.navbar ul > li:first-child > span {
  font-style: normal;
  font-size: 0.8rem;
  margin-left: 1em;
}
