@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Libre Baskerville", serif;
}
:root {
  --clr-grey-1: whitesmoke;
  --clr-grey-2: rgb(219, 219, 219);
  --clr-grey-3: rgb(116, 116, 116);
  --clr-grey-4: rgb(70, 70, 70);
  --clr-grey-5: rgb(54, 54, 54);
  --clr-primary: crimson;
  --clr-secondary: #005200;
}
