@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  font-family: "Libre Baskerville", serif;
}

:root {
  --clr-grey-1: whitesmoke;
  --clr-grey-2: rgb(219, 219, 219);
  --clr-grey-3: rgb(116, 116, 116);
  --clr-grey-4: rgb(70, 70, 70);
  --clr-grey-5: rgb(54, 54, 54);
  --clr-primary: crimson;
  --clr-secondary: rgb(0, 82, 0);
}

.container {
  max-width: 1000px;
  margin: 5em auto 2em auto;
  padding: 2em;
}

.hero {
  background: var(--clr-secondary);
  /* padding: 10em; */
  height: 70vh;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.poker-table {
  background: var(--clr-secondary);
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-bottom: 2em;
}

.h-30 {
  height: 30rem;
}

.h-50 {
  height: 50rem;
}

.flex {
  display: flex;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.introduction {
  text-align: center;
  margin-bottom: 2em;
  padding-block: 5em;
}

.introduction h2 {
  margin-bottom: 1em;
  font-size: 2rem;
}

.introduction button {
  font-size: 1.25em;
  padding: 0.5em 1em;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.introduction .get-started {
  color: white;
  background: crimson;
  margin-inline: 0.25em;
}

.introduction .source {
  color: var(--clr-grey-4);
  background: var(--clr-grey-2);
  margin-inline: 0.25em;
}
